body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:858px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:105px;
  width:11px;
  height:16px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:112px;
  width:33px;
  height:5px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:105px;
  width:33px;
  height:16px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:105px;
  width:11px;
  height:16px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:10px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:109px;
  width:28px;
  height:10px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:0px;
  width:424px;
  height:848px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:105px;
  width:11px;
  height:16px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:112px;
  width:33px;
  height:5px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:105px;
  width:33px;
  height:16px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:105px;
  width:11px;
  height:16px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:10px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:109px;
  width:28px;
  height:10px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:435px;
  width:127px;
  height:16px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:483px;
  width:32px;
  height:32px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:491px;
  width:43px;
  height:16px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:133px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:213px;
  width:134px;
  height:133px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:222px;
  width:153px;
  height:32px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:272px;
  width:153px;
  height:32px;
  font-size:13px;
  color:#999999;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:327px;
  width:66px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:272px;
  width:21px;
  height:16px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:16px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:363px;
  width:375px;
  height:16px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:396px;
  width:29px;
  height:16px;
  text-align:right;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:394px;
  width:66px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:426px;
  width:102px;
  height:34px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:397px;
  width:100px;
  height:16px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u95_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:2px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:195px;
  width:369px;
  height:1px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:136px;
  width:30px;
  height:40px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:354px;
  width:30px;
  height:40px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:155px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:231px;
  width:168px;
  height:155px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:140px;
  width:43px;
  height:16px;
  text-align:center;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:137px;
  width:23px;
  height:22px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:140px;
  width:43px;
  height:16px;
  text-align:center;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:137px;
  width:23px;
  height:22px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
