body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:105px;
  width:11px;
  height:16px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:112px;
  width:33px;
  height:5px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:105px;
  width:33px;
  height:16px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:105px;
  width:11px;
  height:16px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:10px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:109px;
  width:28px;
  height:10px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:136px;
  width:30px;
  height:40px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:140px;
  width:57px;
  height:16px;
  text-align:center;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:137px;
  width:23px;
  height:22px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:112px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:239px;
  width:131px;
  height:112px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:374px;
  width:50px;
  height:16px;
  text-align:center;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
